*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


/* AREA DE CADASTRO  */

main{
    width: 100% ;
}

.container{
    display: flex;
    height: 100vh;
}

.area-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.area-left h1{
    font-size: 35px;
    margin-bottom: 5px;
}

.area-left p,a{
    font-size: 13px;
    font-weight: bold;

}

.area-left a{
    color: black;
    font-weight: 200;
}

.formulario-cadastro{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 10px;
}

input[type="text"], input[type="email"], input[type="password"]{
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black ;
    border-radius: 4px;

    width: 360px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder{
    color: black;
}


.formulario-cadastro label{
    font-size: 13px;
    margin-left: 5px;
}

input[type="submit"]{
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    width: 360px;

    color: #fff;
    background-color: #0056fb;
    font-weight: bold;
    margin: 15px 0;
}

.formulario-cadastro img{
    width: 75px;
}

.logo-opacity{
    position: absolute;
    opacity: 0.2;
    height: 50px;
    bottom: 230px;
    left: 502px;
}



.area-right{
    background-color: #0056fb;
    width: 50%;
    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
}

.info-container{
    width: 450px;
}

.info h1{
    font-size: 34px;
    letter-spacing: 3px;
    margin: 20px auto;
}

.area-right img{
    width: 400px;
}


/* AREA DE LOGIN */

.logo-opacity-login{
    position: absolute;
    opacity: 0.2;
    height: 50px;
    bottom: 269px;
    left: 502px;
}